{
    "ip": "192.168.10.10",
    "memory": 2048,
    "cpus": 2,
    "folders": [
        {
            "map": "C:\\www",
            "to": "/var/www"
        }
    ],
    "sites": [
        {
            "map": "test.box",
            "to": "/var/www/public"
        }
    ],
    "backup": true,
    "backup_dir": "/var/www/backup",
    "databases": [
        "test"
    ]
}
